<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cities</key>
	<array>
		<dict>
			<key>initial</key>
			<string>热门城市</string>
			<key>cities</key>
			<array>
				<string>青岛市</string>
				<string>北京市</string>
				<string>上海市</string>
				<string>深圳市</string>
				<string>广州市</string>
				<string>杭州市</string>
				<string>三亚市</string>
				<string>厦门市</string>
				<string>郑州市</string>
				<string>大连市</string>
				<string>沈阳市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>A</string>
			<key>cities</key>
			<array>
				<string>鞍山市</string>
				<string>安阳市</string>
				<string>澳门</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>B</string>
			<key>cities</key>
			<array>
				<string>北京市</string>
				<string>保定市</string>
				<string>包头市</string>
				<string>滨州市</string>
				<string>宝鸡市</string>
				<string>本溪市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>C</string>
			<key>cities</key>
			<array>
				<string>成都市</string>
				<string>重庆市</string>
				<string>长沙市</string>
				<string>长春市</string>
				<string>沧州市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>D</string>
			<key>cities</key>
			<array>
				<string>大连市</string>
				<string>东莞市</string>
				<string>德州市</string>
				<string>东营市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>E</string>
			<key>cities</key>
			<array>
				<string>鄂尔多斯市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>F</string>
			<key>cities</key>
			<array>
				<string>佛山市</string>
				<string>福州市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>G</string>
			<key>cities</key>
			<array>
				<string>广州市</string>
				<string>贵阳市</string>
				<string>桂林市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>H</string>
			<key>cities</key>
			<array>
				<string>杭州市</string>
				<string>合肥市</string>
				<string>哈尔滨市</string>
				<string>呼和浩特市</string>
				<string>菏泽市</string>
				<string>海口市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>J</string>
			<key>cities</key>
			<array>
				<string>济南市</string>
				<string>嘉兴市</string>
				<string>济宁市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>K</string>
			<key>cities</key>
			<array>
				<string>昆明市</string>
				<string>开封市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>L</string>
			<key>cities</key>
			<array>
				<string>兰州市</string>
				<string>洛阳市</string>
				<string>柳州市</string>
				<string>莱芜市</string>
				<string>丽江市</string>
				<string>临沂市</string>
				<string>聊城市</string>
				<string>连云港市</string>
				<string>拉萨市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>M</string>
			<key>cities</key>
			<array>
				<string>马鞍山市</string>
				<string>牡丹江市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>N</string>
			<key>cities</key>
			<array>
				<string>南京市</string>
				<string>宁波市</string>
				<string>南昌市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>P</string>
			<key>cities</key>
			<array>
				<string>攀枝花市</string>
				<string>平顶山市</string>
				<string>濮阳市</string>
				<string>莆田市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>Q</string>
			<key>cities</key>
			<array>
				<string>青岛市</string>
				<string>秦皇岛市</string>
				<string>泉州市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>R</string>
			<key>cities</key>
			<array>
				<string>日照市</string>
				<string>日喀则市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>S</string>
			<key>cities</key>
			<array>
				<string>上海市</string>
				<string>深圳市</string>
				<string>苏州市</string>
				<string>石家庄市</string>
				<string>沈阳市</string>
				<string>三亚市</string>
				<string>绍兴市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>T</string>
			<key>cities</key>
			<array>
				<string>天津市</string>
				<string>太原市</string>
				<string>唐山市</string>
				<string>泰安市</string>
				<string>铁岭市</string>
				<string>通化市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>W</string>
			<key>cities</key>
			<array>
				<string>武汉市</string>
				<string>无锡市</string>
				<string>威海市</string>
				<string>潍坊市</string>
				<string>乌鲁木齐市</string>
				<string>温州市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>X</string>
			<key>cities</key>
			<array>
				<string>西安市</string>
				<string>厦门市</string>
				<string>徐州市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>Y</string>
			<key>cities</key>
			<array>
				<string>烟台市</string>
				<string>扬州市</string>
				<string>宜昌市</string>
				<string>银川市</string>
				<string>延安市</string>
			</array>
		</dict>
		<dict>
			<key>initial</key>
			<string>Z</string>
			<key>cities</key>
			<array>
				<string>郑州市</string>
				<string>珠海市</string>
				<string>中山市</string>
				<string>淄博市</string>
				<string>枣庄市</string>
				<string>章丘市</string>
				<string>诸城市</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
